/* =====GOOGLE FONTS====== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* =====COMMON STYLES====== */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    margin-bottom: 3rem;
    box-sizing: border-box;
}

a {
    color: #fff;
    transition: all 400ms ease;
}

a:hover {
    color: #fff;
}

.btn {
    text-align: center;
    width: max-content;
    display: inline-block;
    color: #fff;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    border: 1px solid #FF900E;
    transition: all 400ms ease;
    cursor: pointer;
}
.btn-secondary {
    background: #FF900E;
    color: #fff;
}
.btn:hover {
    background: #fff;
    color:  #FF900E;
    border: 1px solid  #FF900E;
}

.btn-primary {
    outline: 0;
    border: 0;
    padding: 15px 20px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
    background-image: linear-gradient(90deg, #FF900E, #FFC72C);
    cursor: pointer;
    box-shadow:0 7px 0 #FF900E ;
    position: relative;
    top: 0;
}
.btn-primary:active{
    top: 5px;
    box-shadow:0 2px 0 #FF900E ;
}
/*<=============== style header section=================> */
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    color: #424242;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    padding: 15px 10px;
}
.logo h2{
    font-size: 40px;
    font-weight: 700;
    /* text-align: center; */
}
.toggler_icons{
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: none;
    color: #FF900E;
}
/* <=============== banner section style ===============> */
.banner_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.banner_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.banner_left h1{
    font-size: 50px;
    font-weight: 700;
    color: #131313;
    width: 700px;
}
.banner_left p{
    color: #727272;
    font-size: 14px;
    width: 800px;
    text-align: center;
    padding: 5px;
}
.banner_right{
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.banner{
    height: 500px;
}
/* ============== Style Feature section ============= */
.features_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
}
.features_left{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.features_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.features_right h1{
    font-size: 35px;
    font-weight: 700;
}
.features_right p{
    color: #424242;
    font-size: 12px;
    padding: 5px;
}
.list{
    color: #424242;
}
.feature{
    color: #FF900E;
}
/*============== Style features_destiny ============== */
.features_destiny{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.features_destiny_title{
    color: #131313;
    font-size: 30px;
    width: 450px;
    font-weight: 700;
    position: relative;
    border-left: 5px solid  #FF900E;
    padding: 15px;
    margin-bottom: 24px;
}
.features_destiny_left p{
    font-size: 14px;
    color: #727272;
    margin-bottom: 30px;
}
.feature_destiny_body{
    padding: 30px;
}
.feature_destiny_body h3{
    font-size: 20px;
    font-weight: 600;
    color: #131313;
    margin-bottom: 10px;
}
.features_destiny_right{
    width: 80%;
    position: relative;
}
.features_destiny_right img{
    width: 557px;
    height: 820px;
}
.experience_btn{
    outline: 0;
    border: 0;
    padding: 46px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
    background-image: linear-gradient(90deg, #FFC72C, #FF900E);
    cursor: pointer;
    position: absolute;
    top: 80%;
    left: 0;
}
.experience_btn a{
    font-size: 30px;
}
.experience_btn a span{
    font-size: 15px;
    display: block;
}
/*=========== style activity section ===========  */
.activity_section h3{
    font-size: 35px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 24px;
}
.activity_section p{
    color: #727272;
    font-size: 12px;
    font-weight: 700;
    /* width: 540px; */
}
.award_section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 40px;
    margin-top: 100px;
    gap: 4rem;
}
.award_items{
    border: 1px solid #FF900E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 46px 36px;
    border-radius: 5px;
}
.award_items span{
    font-size: 35px;
    font-weight: 500;
    margin-top: 8px;
    
}
/* ============ style sponsor section =============*/
.sponsors_section{
    text-align: center;
}
.sponsors_section h1{
    font-size: 40px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 24px;
}
.sponsors_section p{
    color: #727272;
    font-size: 12px;
    font-weight: 500;
}
.sponsors_logo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 40px;
}
.sponsor_brand_logo img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
/* ============== style footer section =========== */
footer{
    color: #FFF4E7;
    height: 100px;
}
footer p{
    color: #424242;
    font-size: 16px;
    text-align: center;
}
/* ========== responsive css ========= */
/*<================navbar responsive============>*/
#nav-toggler{
    display: none;
}
@media (max-width:576px) {
    .navigation{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #a78968 ;
        transform: translateY(-320px);
        transition: .5s ease-in-out;
    }
    .toggler_icons{
        display: block;
    }
    .navigation li a{
        color: #fff;
    }
    #nav-toggler:checked ~ .navigation{
        transform: translateY(0);
    }
    /* banner */
    .banner_left h1{
        font-size: 30px;
        font-weight: 700;
        color: #131313;
        width: 300px;
    }
    .banner_left p{
        font-size: 10px;
        width: 300px;
        text-align: center;
        padding: 5px;
    }
    .btn-primary {
        padding: 10px 15px;
        font-size: 14px;
    }
    .banner{
        height: 250px;
    }
    /* Features Section responsive */
    .features_section{
        text-align: center;
        grid-template-columns: 1fr ;
    }
    .features_left{
        grid-template-columns:1fr;
    }
    .features_right{
        align-items: center;
    }
    .features_photos img{
        width: 300px;
        height: 250px;
    }
    /* features_destiny responsive */
    .features_destiny{
        grid-template-columns:1fr;
    }
    .features_destiny_title{
        color: #131313;
        font-size: 25px;
        width: 500px;
        font-weight: 700;
        position: relative;
        border-left: 5px solid  #FF900E;
        padding: 15px;
        margin-bottom: 24px;
    }
    .features_destiny_left p{
        font-size: 14px;
        color: #727272;
        margin-bottom: 30px;
    }
    .feature_destiny_body{
        padding: 30px;
    }
    .feature_destiny_body h3{
        font-size: 20px;
        font-weight: 600;
        color: #131313;
        margin-bottom: 10px;
    }
    .features_destiny_right{
        width: 80%;
        position: relative;
    }
    .features_destiny_right img{
        width: 557px;
        height: 820px;
    }
    .experience_btn{
        outline: 0;
        border: 0;
        padding: 46px;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        border-radius: 5px;
        background-image: linear-gradient(90deg, #FFC72C, #FF900E);
        cursor: pointer;
        position: absolute;
        top: 80%;
        left: 0;
    }
    .experience_btn a{
        font-size: 30px;
    }
    .experience_btn a span{
        font-size: 15px;
        display: block;
    }
}