/* =====GOOGLE FONTS====== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* =====COMMON STYLES====== */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}

a {
    color: #fff;
    transition: all 400ms ease;
}

a:hover {
    color: #fff;
}

.btn {
    text-align: center;
    width: max-content;
    display: inline-block;
    color: #fff;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    border: 1px solid #4db5ff;
    transition: all 400ms ease;
}

.btn:hover {
    background: #fff;
    color: #4db5ff;
    border: 1px solid #4db5ff;
}

.btn-primary {
    outline: 0;
    border: 0;
    padding: 15px 20px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
    background-image: linear-gradient(90deg, #c21273, #FF008E);
    cursor: pointer;
    box-shadow:0 7px 0 #a5075e ;
    position: relative;
    top: 0;
}
.btn-primary:active{
    top: 5px;
    box-shadow:0 2px 0 #a5075e ;
}
/*<=============== style header section=================> */
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    color: #424242;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    padding: 15px 10px;
}
.logo h2{
    font-size: 45px;
    font-weight: 700;
    /* text-align: center; */
}
/* <=============== banner section style ===============> */
.banner_section{
    display: flex;
    flex-direction: column;
}